.page-wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding: 1.5em;
}

.mat-toolbar {
    position: fixed;
    top: 0;
    z-index: 1;
  }

  .mat-button {
    box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
    background-color: #f44336;
    margin: 8px 8px 8px 0;
    color: #fff;
  }