
<mat-toolbar>
    <button mat-button
    *ngIf="(auth.isAuthenticated$ | async) === false"
    (click)="loginWithRedirect()">
    Log in
  </button>

  <button mat-button *ngIf="auth.isAuthenticated$ | async" (click)="logout()">
    Log out
  </button>

</mat-toolbar>

<div class="page-wrapper">
    <router-outlet>
    </router-outlet>
</div>

